*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'jost', sans-serif;
    list-style: none;
    scroll-behavior: smooth;
    text-decoration: none;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
    
}
.logo img{
    width: 120px;
    height: 80px;
    border-radius: 20px;
}

.navmenu{
    display: flex;
}
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42 ease;
}
.navmenu a:hover{
    color: #EE1C47;
}
.nav-icon{
    display: flex;
    align-items: right;
}
.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42 ease;
}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}
#menu-icon{
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
section{
    padding: 70px;
}
.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(images_and_pdfs/background_image.jpg);
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-text h5{
    color: #EE1C47;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}
.main-text h1{
    color: #000;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}
.slogan{
    color: #333c56;
    text-transform: capitalize;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}
.main-btn{
    display: inline-block;
    color: #111;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}
.main-btn:hover{
    background-color: #000;
    color: #fff;
}
.main-btn i{
    vertical-align: middle;
}
.down-arrow{
    position: absolute;
    top: 85%;
    right: 11%;
}
.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid #2c2c2c;
    border-radius: 50px;
    padding: 12px 12px;
}
.down i:hover{
    background-color: #2c2c2c;
    color: #fff;
    transition: all .42s ease;
}
header.sticky{
    background-color: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgba(0 0 0 / 10%);
}
.trending-product{
    background-color: #E0E8EA;
}
.btns{
    display: block;
    gap: 30px; 
    margin-left: 50px;
}
#btn_all,
        #btn_samsung,
        #btn_apple,
        #btn_oppo,
        #btn_huawei,
        #buy {
            font-size: 18px;
            height: 40px;
            width: 90px; 
            font-weight: bold;
            border: 2px solid #111;
            border-radius: 6px;
            background-color: #fff;
            color: #000;
            transition: background-color 0.3s ease, color 0.4s ease, transform 0.2s ease; 
        }
        #btn_all:hover,
        #btn_samsung:hover,
        #btn_apple:hover,
        #btn_oppo:hover,
        #btn_huawei:hover,
        #buy:hover {
            background-color: #EE1C47; 
            color: #fff; 
            transform: translateY(-4px); 
            box-shadow: 0 0 5px #EE1C47,
            0 0 25px #EE1C47, 0 0 50px #EE1C47;
            transition: .42s;
        }
        body{
            margin: 0;
            font-family: sans-serif;
            background: #f2f2f2;
        }
        h3{
            text-align: center;
            font-size: 30px;
            margin: 0;
            padding-top: 10px;
        }

        .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
}
        
.content {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.content:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
        }
        .content img {
    width: 100%;
    height: 380px;
    object-fit: cover;
        }
        .content p{
            text-align: center;
            color: #5f6568;
            padding-top: 0 8px;
        }
        .content h6{
            font-size: 26px;
            text-align: center;
            color: #222f3e;
            margin: 0;
        }
        .content ul{
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 0;
        }
        .content li{
            padding-top: 5px;
        }
        .fa{
            font-size: 26px;
            transition: .4s;
            margin: 3px;
        }
    .checked{
        color: #ff9f43;
    }
    .fa:hover{
        transform: scale(1.3);
        transition: .6s;
    }
    .btn-main{
        text-align: center;
        font-size: 24px;
        color: #fff;
        width: 100%;
        padding: 15px;
        border: 0;
        outline: none;
        cursor: pointer;
        margin-top: 5px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
    }
    .btn-main{
        background-color: #000;
        color: #fff;
    }
    .btn-main:hover{
        background-color: #5f5858;
        color: #000;
        transition: all .42s;
    }
    .hidden {
    display: none;
}

.first-service{
    text-align: left;
}
.second-service{
    text-align: left;
}
.third-service{
    text-align: left;
}.forth-service{
    text-align: left;
}.fifth-service{
    text-align: left;
}.sixth-service{
    text-align: left;
}
    
.services-sec{
    background-color: #d5f1f1;
}
.services{
    text-align: center;
}
.services h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.contact-question{
    text-align: left;
    font-size: large;
}
.contact-form {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .contact-form input, .contact-form textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
        .contact-form button {
            width: 100%;
            padding: 12px;
            font-size: 18px;
            border: 2px solid #111;
            border-radius: 5px;
            background-color: #000;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s ease, transform 0.2s ease;
        }
        .contact-form button:hover {
            background-color: #cacaca;
            color: #000;
            transform: translateY(-3px);
        }
        .contact-details {
            margin-top: 20px;
        }
        .contact-details p {
            font-size: 16px;
            margin: 5px 0;
        }
        iframe {
            width: 100%;
            height: 300px;
            border: none;
            margin-top: 20px;
            border-radius: 5px;
        }
        .who-r-we{
            text-align: left;
            font-size: large;
        }
        .ourvision{
            text-align: left;
            font-size: large;
        }
        .whyus{
            text-align: left;
            font-size: large;
        }
        
        .footer-sec {
        padding-top: 50px !important;
        padding: 10px !important;
}

        .footer-sec{
          
            background-color: #333;
            color: #fff;
        }
        .footer{
            display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
        }
        .footer-logo{
            width: 140px;
            height: auto;
        }
        .footer h4{
            color: #969696;
            font-size: 14px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .footer p{
            color: #ccc;
            font-size: 14px;
            font-weight: 400;
            text-transform: capitalize;
            line-height: 1.5;
            margin-bottom: 10px;
            cursor: pointer;
            transition: all .42s;
        }
        .footer p:hover{
            color: #EE1C47;
        }
        .social-icons i{
            color: #565656;
            margin-right: 10px;
            font-size: 20px;
            transition: all .42s;
        }
        .social-icons i:hover{
            transform: scale(1.3);
            color: #EE1C47;
        }
        
        .end-text p{
            margin-bottom: 40px;
            color: #111;
            text-transform: capitalize;
        }
        .gallery a{
            font-weight: bold;
            font-size: 20px;
            border: none;
            background-color: #000;
            color: white;
            width: 120px; 
            height: 50px; 
            padding: 10px 15px; 
            transition: background-color 0.3s ease, color 0.4s ease, transform 0.2s ease; 
            line-height: 30px;
        }
        .gallery a:hover{
            background-color: rgb(94, 88, 88);
            color:black;   
        }
        .end-text{
            text-align: center;
            margin-top: 50px;
        }
        .content h6{
            font-size: 17px;
        }
        td>img {
            width: 100%;
            height: 250px;
            object-fit: contain;
        }

        @media(max-width:890px){
            header{
                padding: 20px 3%;
                transition: .4s;
            }
        }
        @media(max-width:630px){
            .main-text h1{
                font-size: 50px;
                transition: .4s;
            }
            .main-text p{
                font-size: 18px;
                transition: .4s;
            }
            .main-btn{
                padding: 10px 20px;
                transition: .4s;
            }
        }
        @media(max-width:750px){
            .navmenu{
                position: absolute;
                top: 100%;
                right: -100%;
                width: 300px;
                height: 130vh;
                background: #edfff1;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 120px 30px;
                transition: all .42s;
            }
            .navmenu a{
                display: block;
                margin: 18px 0;
            }
            .navmenu.open{
                right: 0;
            }
        }
       
      

        
       
        

    